.hero {
    position: relative;
    padding-block: 12rem;
    color: var(--accent);
    font-family: var(--mono);
}

.hero h1 {
    text-transform: lowercase;
}

.hero .cartoon {
    white-space: pre;
    user-select: none;
}

.hero .cartoon:nth-child(1) {
    position: absolute;
    top: 4rem;
    left: 10vw;
}

.hero .cartoon:nth-child(2) {
    position: absolute;
    top: 2rem;
    right: 30vw;
}

.hero .cartoon:nth-child(3) {
    position: absolute;
    top: 1rem;
    right: 5vw;
}

.hero .cartoon:nth-child(5) {
    position: absolute;
    bottom: 3rem;
    left: 5vw;
}

.hero .cartoon:nth-child(6) {
    position: absolute;
    bottom: 4rem;
    right: 15vw;
}

@media (max-width: 550px) {
    .hero .cartoon:nth-child(1) {
        left: 5vw;
    }

    .hero .cartoon:nth-child(2) {
        right: 10vw;
    }

    .hero .cartoon:nth-child(3) {
        display: none;
    }

    .hero .cartoon:nth-child(6) {
        right: 5vw;
    }
}