@import url("/media/fonts/fonts.css");
@import url("/media/style/theme.css");

:root {
    --sans: "Overpass", sans-serif;
    --mono: "Overpass Mono", monospace;
}

* {
    box-sizing: border-box;
}

html, body {
    font-size: 20px;
    font-family: var(--sans);
    margin: 0;
    background-color: var(--background);
    color: var(--foreground);
}

body > * {
    margin-inline: 10%;
}

section {
    margin-block: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--mono);
}

a {
    color: var(--accent);
}

a:not(.override):hover, a:not(.override):focus-visible {
    background-color: var(--accent);
    color: var(--background);
    outline: 0.25rem solid var(--accent);
}

.lowercase {
    text-transform: lowercase;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    html, body {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    body > * {
        margin-inline: 2rem;
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}